   /* TODO PUNTEGGI DI CARATTERISTICA */
.scoreComponent{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

    .scoreComponent>button{
        color: var(--c5);
    }

    .scoreContainer{
        margin: 10px;
        display: flex;
    }
        .scoreIndex{
            width: 80px;
            height: 80px;

            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;

            text-align: center;
        }

        .scoreIndex>p{
            overflow: hidden;
        }