<article class="scoreComponent">
    <h4 class="title" (click)="showScoreComponent =!showScoreComponent">
        Punteggi caratteristica
    </h4> 

    @if (showScoreComponent) {
    @for (score of el.characterScores; track $index) {
    <div class="scoreContainer">
        <div class="scoreIndex">
            <p>{{ score.title }}</p>
            <h3>{{ score.bonus>=0? "+":"" }}{{ score.bonus }}</h3>
        </div>

        <table> 
        <tbody>
        <!-- MOSTRA '+' SE IL BONUS NON E' NEGATIVO O NE HA COMPETENZA -->
        @for (ability of score.abilities; track $index) {
            <tr>
                <td>{{ ability.proficiency? "⬤":"𐩒" }}</td>
                <td>{{
                     score.bonus>=0 || ability.proficiency? "+":"" 
                    }}{{
                     ability.proficiency? el.proficiencyBonus +score.bonus : score.bonus 
                }}</td>
                <td>{{ ability.title }}</td>
                
                
            </tr>
        }
        </tbody>
        </table>
    </div>
    } 
    }

</article>