<article class="scoreComponent">
    <h4 class="title" (click)="showScoreComponent =!showScoreComponent">
        Punteggi caratteristica
    </h4> 
    
    @if (showScoreComponent) {
    <div class="proficiencyBonus">
        <span>Bonus competenza: <strong>+{{el.proficiencyBonus}}</strong></span>
    </div>

    @for (score of el.characterScores; track $index) {
    <div class="scoreContainer">
        <div class="scoreIndex">
            <p>{{ score.title }}</p>
            <span>
                <!-- {{ score.bonus>=0? "+":"" }} -->
                <input name="" [value]="score.bonus">
            </span>
        </div>

        <table> 
        <tbody>
        <!-- MOSTRA '+' SE IL BONUS NON E' NEGATIVO O NE HA COMPETENZA -->
        @for (ability of score.abilities; track $index) {
            <tr>
                <td><input type="checkbox" [checked]="ability.proficiency"></td>
                <td>{{
                     score.bonus>=0 || ability.proficiency? "+":"" 
                    }}{{
                     ability.proficiency? el.proficiencyBonus +score.bonus : score.bonus 
                }}</td>
                <td>{{ ability.title }}</td>
                
                
            </tr>
        }
        </tbody>
        </table>
    </div>
    } 
    }

</article>