<div class="scoreComponent">

    <div class="scoreContainer">
        <div class="scoreIndex">
            +{{el.proficiencyBonus}}
        </div>
        Bonus competenza
    </div>

    @for (score of el.characterScores; track score; let  a = $index) {
    <div class="scoreContainer">
        <div class="scoreIndex">
            <p>{{ score.title }}</p>
            <span>
                <input name="" [value]="score.bonus">
            </span>
        </div>

        
        <table> 
        <tbody>@for (ability of score.abilities; track ability; let b =$index) {
            <tr>
                <td>
                    <input 
                    type="checkbox" 
                    (click)="setCheck($event, a, b)" 
                    [checked]="ability.proficiency"
                    >
                </td>
                <td>{{ abilityBonus(ability.proficiency, score.bonus) }}</td>
                <td>{{ ability.title }}</td>
            </tr>
        }</tbody>
        </table>
    </div>
    } 
    

</div>