<div class="characterCard">
    <header>
        <h1>Scheda personaggio</h1>
        <app-generality [el]="el"></app-generality>
    </header>


    <section>
        <div class="column">
            <app-score [el]="el"></app-score>
            
            <app-proficiency [el]="el"></app-proficiency>
        </div>

        <div class="column">
            <app-action [el]="el"></app-action>
            
            <app-weapons [el]="el"></app-weapons>

            <app-equipment [el]="el"></app-equipment>
        </div>

        <div class="column">
            <app-mettle [el]="el"></app-mettle>
            
            <app-privileges [el]="el"></app-privileges>
        </div>
    </section>

</div>
