.characterCard{
    max-width: 1000px;
    box-shadow: 0 0 20px 10px var(--st);
}
    .characterCard>h1{
        padding: 20px;
        text-align: center;
        background: var(--c2);
    }

    /* TODO HEADER */
header{
    padding: 10px;
    background: var(--c2);
}
    
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
    article>*{
        width: 300px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

 

