<div class="characterCard">
    <h3>{{characterElem.generality[0].field}}</h3>
    <details>
        <summary>Generalità</summary>
        <app-generality [characterElem]="characterElem"></app-generality>
    </details>

    <details>
        <summary>Punteggi</summary>
        <app-score [characterElem]="characterElem"></app-score>
    </details>
    <details>
        <summary>Competenze</summary>
        <app-proficiency [characterElem]="characterElem"></app-proficiency>
    </details>

    <details>
        <summary>Azione</summary>
        <app-action [characterElem]="characterElem"></app-action>
    </details>
    <details>
        <summary>Armi e incantesimi</summary>
        <app-weapons [characterElem]="characterElem"></app-weapons>
    </details>
    <details>
        <summary>Equipaggiamento</summary>
        <app-equipment [characterElem]="characterElem"></app-equipment>
    </details>

    <details>
        <summary>Caratteristiche</summary>
        <app-mettle [characterElem]="characterElem"></app-mettle>
    </details>
    <details>
        <summary>Privilegi</summary>
        <app-privileges [characterElem]="characterElem"></app-privileges>
    </details>
</div>
