.characterCard{
    max-width: 1000px;
    box-shadow: 0 0 20px 10px var(--st);
}
.characterCard>h1{
    padding: 20px;
    text-align: center;
    background: var(--c2);
}

    /* TODO HEADER */
header{
    padding: 10px;
    background: var(--c2);
}
    .generality{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .generality>*{
        width: 70px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
article>*{
    width: 300px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

    /* TODO PUNTEGGI DI CARATTERISTICA */
.score{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
}
    .score>button:first-child{
        display: flex;
    }
    .scoreContainer{
        padding-top: 5px;
        display: flex;
        gap: 30px;
        border-top: 1px solid var(--c2);
    }
        .scoreContainer>*:first-child{
            width: 80px;
            height: 80px;
            padding: 10px 5px;
            overflow: hidden;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    /* TODO ACTION */
.action>div:first-child{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.action>*{ width: 40%; }