.characterCard{
    padding: 5px;
}
    .characterCard>h3{
        padding: 10px 0;

        text-align: center;
    }
    details{
        margin-bottom: 5px;
        background: var(--c2);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px 0 black;
    }    

        summary{
            padding: 10px;
            background: var(--c4);
        }
        details>*:last-child{
            padding: 10px;
        }

 

