<article class="actionComponent">
    <h4 class="title">Azione</h4>
    
    <div class="flexbox">
        <div>
            <p>Velocità</p> 
            <strong>{{ el.speed }}m</strong>
        </div>
        <div>
            <p>Classe armatura</p> 
            <strong>{{ el.armorClass() }} 🛡</strong>
        </div>
        <div>
            <p>Dado vita</p> 
            <strong>d{{ el.lifeDice }}</strong>
        </div>
        <div>
            <p>Punti ferita</p> 
            <strong>{{ el.hitPoints }} PF</strong>
        </div>
    </div>
</article>
