.actionComponent{
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
    .actionComponent>div{ 
        padding: 5px;

        background: var(--c4);
        border-radius: 10px;
        text-align: center;
    }
    input{
        width: 25%;

        background: transparent;
        border: 0;
        color: var(--c1);
        text-align: center;
    }
