<div class="actionComponent">
    
        <div>
            <p>Velocità</p> 
            <strong><input type="text" [value]="characterElem.speed">m</strong>
        </div>
        <div>
            <p>Classe armatura</p> 
            <select name="ca" id="ca" [value]="selectValue" (change)="selectChange($event)">
                <option value="less">Senza armatura</option>
                <option value="monk">Monaco</option>
                <option value="barbarian">Barbaro</option>
                <option value="light">Armatura imbottita</option>
                <option value="inter">Cotta di maglia</option>
                <option value="heavy">Armatura di piastre</option>
            </select>
            <strong>{{ outputCA }} 🛡</strong>
        </div>
        <div>
            <p>Dado vita</p> 
            <strong>
                <input type="text" [value]="characterElem.generality[1].field"
                >d<input type="text" [value]="characterElem.lifeDice">
            </strong>
        </div>
        <div>
            <p>Punti ferita</p> 
            <strong>
                <input type="text" [value]="hp">/{{ hp }} PF
            </strong>
        </div>
</div>
