.actionComponent>h3{
    padding-top: 10px;
    text-align: center;
}

.actionComponent>.flexbox{
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
    .flexbox>div{ 

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        
        text-align: center;

    }
    input{
        width: 25%;
        background: transparent;
        border: 0;
        color: var(--c4);
        text-align: center;
    }
