nav.navbar{
    height: 50px;
    padding: 5px 10px;
    position: sticky; top: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    background: var(--c1);
}
    nav.navbar>a{
        padding: 10px 15px;

        border-radius: 10px;
        background: var(--c4);
        color: var(--c2);
        font-weight: bold;
    }