.proficiencyBonus{
    width: max-content;
    margin: 10px  auto;
    padding: 10px;

    background: var(--c3);
    border-radius: 10px;
}

.gridbox{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 5px;
}
    .gridbox>*{
        overflow: hidden;
        border-radius: 10px;
        /* border: 1px solid; */
    }


/* SCORE */
.score{
    margin: auto;
    width: 100px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}
    .score .title{
        padding: 10px 0;
        background: var(--c3);
    }
    .score .bonus{
        margin-top: 5px;
        font-size: 30px;
        background: var(--c3); 
    }

/* abilities */
.abilities{
    padding: 10px 0;
}