<div class="actionComponent">
    <div class="gridbox">
        <div> 
            <p>Classe armatura</p>
            <select name="ca" id="ca" [value]="selectValue" (change)="selectChange($event)">
                <option value="less">Senza armatura</option>
                <option value="monk">Monaco</option>
                <option value="barbarian">Barbaro</option>
                <option value="light">Armatura imbottita</option>
                <option value="inter">Cotta di maglia</option>
                <option value="heavy">Armatura di piastre</option>
            </select>
            <strong>{{ outputCA }}🛡</strong>
        </div>
        <div>
            <p>Velocità</p>
            <p class="flex"> <textarea>{{ character.speed }}</textarea>m </p>
        </div>
        <div>
            <p>Dado vita</p>
            <p class="flex"> d<textarea>{{ character.lifeDice }}</textarea> </p>
        </div>
    </div>


    <div class="hitPoint">
        <h4 style="text-align: center;">Punti ferita</h4>
        <table>
            <thead>
                <tr>
                    <th>Massimi</th>
                    <th>Attuali</th>
                    <th>Danni subiti</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hp">{{ hp() }}hp</td>
                    <td><input type="number" [value]="hp() -damage"></td>
                    <td><input type="number" [value]="damage" (change)="setDamage($event)"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>