<div class="action">
    <div class="gridbox">
        <div> 
            <div>Classe armatura</div>
            <select name="ca" id="ca" [value]="selectValue" (change)="selectChange($event)">
                <option value="less">Senza armatura</option>
                <option value="monk">Monaco</option>
                <option value="barbarian">Barbaro</option>
                <option value="light">Armatura imbottita</option>
                <option value="inter">Cotta di maglia</option>
                <option value="heavy">Armatura di piastre</option>
            </select>

            <strong>{{ outputCA }}🛡</strong>
        </div>
        <div>
            <div>Velocità</div>
            <p class="flex"> <textarea>{{ character.speed }}</textarea>m </p>
        </div>
        <div>
            <div>Dado vita</div>
            <p class="flex"> d<textarea>{{ character.lifeDice }}</textarea> </p>
        </div>
    </div>

    <div>
        <h4 style="text-align: center;">Punti ferita</h4>
        <table><tbody>
            <tr>
                <td>Massimi</td>
                <td>Attuali</td>
                <td>Danni subiti</td>
            </tr>
            <tr>
                <td>{{ hp() }}hp</td>
                <td><input type="number" [value]="hp() -damage"></td>
                <td><input type="number" [value]="damage" (change)="setDamage($event)"></td>
            </tr>
        </tbody></table>
        <strong></strong>
    </div>
</div>