.badgeComponent{
    padding: 10px;
    min-height: 200px;
    min-width: 30vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    
    border: 1px solid;
    border-radius: 10px;
}