.gereralComponent{
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
}
figure{}
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
.gridbox{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
    background: var(--c2);
}