<div class="gereralComponent">
    <figure>
        <abbr [title]="character.generality[0].field">
            <img [src]="character.imageURL">
        </abbr> 
        <figcaption>{{ character.generality[0].field }}</figcaption>
    </figure>

    <div class="gridbox">
        <div *ngFor="let generality of character.generality">
            <p>{{ generality.title }}</p>
            <h5>{{ generality.field }}</h5>
        </div>
    
        <div>
            <p>Peso trasportabile</p>
            <h5>{{ 
                ((character.characterScores[0].bonus *2) +10) *7.5
            }}kg</h5> 
        </div>
    </div>
</div>