
.users{
    display: flex;
    justify-content: flex-start;
}
aside{
    min-width: 30vh;
    padding: 10px;   

    display: flex;
    flex-direction: column;
    gap: 10px;
}
    .users>aside>*{
        padding: 10px;
        min-width: 100px;

        background: var(--c2);
        border-radius: 10px;
    }