*{
    box-sizing: border-box;
}

.generalityComponent{
    gap: 5px;
    display: grid;
    grid-template-columns: auto auto;
}
    .generalityComponent>div{
        min-width: 100px;
        max-width: 200px;
        padding: 5px;
        background: var(--c4);
        border-radius: 10px;
    }
        p{
            border-bottom: 1px solid;
        }
        textarea{
            width: 100%;
            resize: none;

            border: 0;
            color: var(--c5);
            font-size: 2.8vh;
        }