<div>
    <button (click)="formSwitch =!formSwitch" class="switch">{{ 
        formSwitch? "Reactive Form" :"Template Form" 
    }}</button>


    <!-- OPTIMIZE TEMPLATE FORM -->
    @if(formSwitch){
    <form #templateForm="ngForm" (ngSubmit)="templateSubmit(templateForm)">
        <h3>Template form</h3>

        <div class="flexbox">
            <label for=""> Username </label>
            <input type="text" name="username" ngModel>
            <label for=""> Email </label>
            <input type="email" name="email" ngModel required email>
        </div>
        
        <button type="submit" [disabled]="!templateForm.valid">Invio</button>
    </form>


    <!-- TODO REACTIVE FORM -->
    } @else {
    <form [formGroup]="reactiveForm" (ngSubmit)="reactiveSubmit()">
        <h3>Reactive form</h3>

        <div class="flexbox">
            <label for=""> Username </label>
            <input type="text" name="username" formControlName="username">
            <label for=""> Email </label>
            <input type="email" name="email" formControlName="email">
        </div>

        <button type="submit" [disabled]="!reactiveForm.valid">Invio</button>
    </form>

    <div class="database">
        <h3>Database</h3>
        <table>
        <tbody>@for (user of users; track $index) {
            <tr>
                <td><button (click)="clickDelete(user.id)">❌</button></td>
                <td> 
                    <input 
                        type="text" 
                        name="username" 
                        [value]="user.username" 
                        (change)="changePatch(user.id, $event)"
                    > 
                </td> 
                <td> 
                    <input 
                        type="text" 
                        name="email" 
                        [value]="user.email" 
                        (change)="changePatch(user.id, $event)"
                    > 
                </td> 
            </tr>
        }</tbody>
        </table>
    </div>
    }

</div>